body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: floralwhite;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {

}

#appRegister {
    text-align: center;
    width: 300px;
    padding: 50px;
    border-radius: 15px;
    background-color: floralwhite;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#googleRegister {
    margin-top: 10px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#googleRegister:hover {
    background-color: white;
    color: black;
}

#facebookRegister {
    margin-top: 10px;
    width: 100%;
    background-color: darkblue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
#facebookRegister:hover {
    background-color: white;
    color: black;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: lightskyblue;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#checkTermsAndConditions {
    margin-top: 30px;
    font-size: small;
}